*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(217, 235, 186);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    justify-content: center;
}
.left1 .link{
    color: white;

}
/* leftside */
.left1  {
    padding-left: 30px;
    background-color: rgba(49 81 96)
}
.left1 .image .sneha{
    border-radius: 150px;
    width: 280px;
    height: 280px;
}
.left1 .headline{
    color: rgb(145, 182, 201);
    font-size: 20px;
}
.left1 .details{
    color: white;
}
/* rightside */
.right1 {
    background-color: white;
    padding-left: 40px;
    padding-top: 100px;
}
.right1 .headline{
    font-size: 30px;
}
.right1 .heading .headline{
    font-size: 60px;
}
.right1 .prosum p{
    color: black;
}

